.landingContainer {
  width: 100%;
  gap: 0;
}

.navigationBar {
  margin: 0 auto;
  padding: 1.5rem;
  display: flex;
  background-color: lightblue;
  width: 100%;
}

.navigationBarLogoContainer {
  flex: 1;
}

.navigationLinkContainer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}

.heroSection {
  margin: 0 auto;
  width: 100%;
  height: 30rem;
  overflow: auto;
  background-color: green;
}
